@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Mantenimiento de básculas";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Bascula/Bascula.js"></script>


<div style="margin: 20px;">
    <h3>@ViewData["Title"]</h3>
</div>

<body>
    <div class="card">
        <div class="card-body" style="padding-left:25%; padding-right:25%; padding-top: 5%;">
            <form class="row g-3">
                <div class="col-md-6" hidden>
                    <label for="idBascula" class="form-label">Id</label>
                    <input type="number" class="form-control" id="idBascula">
                </div>
                <div class="col-md-5">
                    <label for="codigoBascula" class="form-label">Código</label>
                    <input type="text" class="form-control" id="codigoBascula" placeholder="Ingrese código">
                </div>
                <div class="col-md-5">
                    <label for="nombreBascula" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombreBascula" placeholder="Ingrese nombre de báscula">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            style="margin-top: 32px;" onclick="setearValores()">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="col-md-6">
                    <label for="codigoSerie" class="form-label">Código Serie</label>
                    <input type="text" class="form-control" id="codigoSerie" placeholder="Ingrese código serie">
                </div>
                <div class="col-md-6">
                    <label for="direccionIp" class="form-label">Dirección Ip</label>
                    <input type="text" class="form-control" id="direccionIp" placeholder="192.168.100.1">
                </div>
                <div class="col-md-2">
                    <label for="puerto" class="form-label">Puerto</label>
                    <input type="number" class="form-control" id="puerto" placeholder="Ej: 1008" min="1" max="100000">
                </div>
                <div class="col-md-4">
                    <label for="activoBascula" class="form-label">Estado</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="EstadoActivo">
                        <label class="form-check-label" for="EstadoActivo">
                            Activo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="EstadoInactivo" checked>
                        <label class="form-check-label" for="EstadoInactivo">
                            Inactivo
                        </label>
                    </div>
                </div>
                <div class="col-md-6" style="padding-top: 20px;">
                    <button type="submit" class="btn btn-outline-dark" style="margin-right: 25px;">Limpiar</button>
                    <button type="button" class="btn btn-success" onclick="GuardarBascula()">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

<!--Modal de búsqueda de báscula-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Búsqueda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="codigoSerie_m" class="form-label-sm">Código</label>
                        <input type="text" class="form-control" id="codigoBascula_m" placeholder="Ingrese código">
                    </div>

                    <div class="col-md-5">
                        <label for="nombreBascula_m" class="form-label-sm">Nombre</label>
                        <input type="text" class="form-control" id="nombreBascula_m" placeholder="Ingrese nombre">
                    </div>

                    <div class="col-md-1">
                        <button type="button" class="btn-sm btn-primary" style="margin-top: 25px;" onclick="BuscarBascula()">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <div class="row" style="padding-top:10%;">
                    <br />
                    <p>Resultados</p>
                    <hr />
                    <div id="liveAlertPlaceholder"></div>
                    <table id="gridBasculas" class="table table-hover" style="padding:10px;">
                        <thead>
                            <tr>
                                <th scope="col">Código Serie</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody id="bodyTabla">
                        </tbody>

                    </table>

                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="cargarBasculaFormulario()">Editar</button>*@
                <button type="button" class="btn btn-outline-dark" onclick="limpiarModal()">Limpiar</button>
                @*<button type="button" class="btn btn-primary" onclick="validarFilaResultados()">Editar</button>*@
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>