@{
    ViewData["Title"] = "Home Page";
}

<div class="center" style="padding-top: 20px;">
    <h1 class="text-center">SysShrimp</h1>
    <h4 class="text-center">Sistema de monitoreo </h4>
    <center>
        <img class="img-fluid" src="~/img/shrimp_sys.png" style="max-height:550px; max-width: 550px;">
    </center>
</div>
