@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/canvasjs/canvasjs.min.js"></script>
    <script src="~/js/Dashboard/Dashboard.js"></script>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div id="pesajeTuneles" style="height: 400px; width: 85%; margin-top: 50px; margin-bottom: 50px;"></div>
                </div>
                <div class="col-md-4">
                    <div id="tiempoCamaron" style="height: 400px; width: 85%; margin-top: 50px; margin-bottom: 50px;"></div>
                </div>
                <div class="col-md-4">
                    <div class="row" id="tabla1" style="max-height: 250px; width: 100%; margin-bottom: 35px;">
                        <p style="text-align: center"><b>Espacio Túnel al día</b></p>
                        <div class="table-responsive" style="max-height: 245px;">
                            <table class="table table-striped table-sm" id="data_table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Túnel</th>
                                        <th scope="col">Paquete</th>
                                        <th scope="col">Pesaje</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Tiempo</th>
                                        <th scope="col">Autorización</th>
                                    </tr>
                                </thead>
                                <tbody id="tableEspacioTunelDia"></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" id="tabla2" style="max-height: 250px; width: 100%;">
                        <p style="text-align: center"><b>Temperatura</b></p>
                        <div class="table-responsive" style="max-height: 245px;">
                            <table class="table table-striped table-sm" id="data_table2">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Túnel</th>
                                        <th scope="col">Temperatura</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Tiempo</th>
                                    </tr>
                                </thead>
                                <tbody id="tableTemperaturaTunel"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div id="temperaturaTuneles" style="height: 300px; width: 85%; "></div>
                        
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <p style="text-align: center"><b>Indicaciones</b></p>
                        <div class="input-group">
                            <p style="color: red; width: 20%;">Rojo -></p>
                            <p style="color: red; text-align: left; margin-left: 10px; width: 60%;">
                                Sacar productos del túnel o baja o alta temperatura
                                del túnel o cantidad excesiva del producto.
                            </p>
                        </div>
                        <hr />
                        <div class="input-group">
                            <p style="color: #DFD208; width: 20%;">Amarillo -></p>
                            <p style="color: #DFD208; text-align: left; margin-left: 10px; width: 60%; ">
                                Valores moderados, tomar precaución en temperatura, cantidad y tiempo.
                            </p>
                        </div>
                        <hr />
                        <div class="input-group">
                            <p style="color: forestgreen; width: 20%;">Verde -></p>
                            <p style="color: forestgreen; text-align: left; margin-left: 10px; width: 60%;">
                                Valores normales.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" id="reporteGeneral" style="margin-top: 3em;">
                    <div class="card">
                        <div class="card-header">
                            <p  style="text-align: center; font-size: 15px;"><b>Reporte General Dependiendo del Cliente</b></p>
                            <p>Rango de fechas</p>
                            <form class="row g-3">
                                <div class="col-md-3">
                                    <label for="fechaInicio" class="form-label">Fecha Inicio</label>
                                    <div class="input-group date" id="fechaInicio" data-provide="datepicker">
                                        <input type="text" class="form-control" readonly>
                                        <span class="input-group-append">
                                            <span class="input-group-text bg-light d-block">
                                                <i class="bi bi-calendar-date"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="fechaFin" class="form-label">Fecha Fin</label>
                                    <div class="input-group date" id="fechaFin" data-provide="datepicker">
                                        <input type="text" class="form-control" readonly>
                                        <span class="input-group-append">
                                            <span class="input-group-text bg-light d-block">
                                                <i class="bi bi-calendar-date"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3" style="margin-top: 2em;">
                                    <button type="submit" class="btn btn-outline-dark" style="margin-right: 25px;">Limpiar</button>
                                    <button type="button" class="btn btn-primary" style="margin-right: 25px;" onclick="GenerarDashboard();">Filtrar</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $.fn.datepicker.defaults.autoclose = true;
    $.fn.datepicker.defaults.clearBtn = true;
</script>